{% extends "layout.njk" %}

{% block head %}  
  <title>Luiz Furtado | Sobre</title>
{% endblock %}

{% block content %}
  
  <div id="wrapper">
    <img src="https://avatars3.githubusercontent.com/u/19859764?s=460&u=c3af343e6639c6f89dd3deb12c98a2fcaf111921&v=4" alt="Luiz Furtado">
    <h1>Luiz Furtado</h1>
    <h2>Desenvolvedor Fullstack</h2>
    <p>Desenvolvedor Fullstack com ótimos conhecimentos em Javascript e C#. Apaixonado por novas tecnologias e por transformar essas tecnologias em soluções para os problemas das pessoas.</p>
  </div>

  <div id="links-social" class="links">
    <a href="https://github.com/LuizFurtado" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/luiz-fernando-furtado/" target="_blank">Linkedin</a>
    <a href="https://twitter.com/luizfpfurtado" target="_blank">Twitter</a>
  </div>

{% endblock %}