{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy | Receitas</title>
{% endblock %}

{% block content %}
  <div class="wrapper">
    <main>
      <section id="receitas">
        <div class="cards">

          {% for recipe in recipes %}

            <div class="card" id="{{loop.index0}}">
            <div class="card__img-container">
              <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
            </div>
            <h3 class="card__card-title">
              {{ recipe.title }}
            </h3>
            <p class="card__card-autor">
              por {{ recipe.author }}
            </p>
          </div>

          {% endfor %}
          
        </div>
      </section>
    </main>
  </div>

  <script src="script.js"></script>
{% endblock %}