{% extends 'layout.njk' %}

{% block head %}
  <title>Blog Rocketseat - Sobre</title>
{% endblock%}

{% block content %}
  <div id="wrapper">
    <img src="https://cdn-images-1.medium.com/max/1200/1*TkXVfLTwsHdwpUEjGzdi9w.jpeg" alt="Logo Rocketseat">

    <h1>Rocketseat</h1>
    <p>
      Devs melhores, aplicações melhores, um mundo melhor. Uma experiência com propósito para impulsionar sua carreira e transformar o mundo.
    </p>

    <h2>Torne-se um profissional especialista em algunas das tecnologias mais utilizadas do mercado:</h2>
    <ul>
      <li>Javascript</li>
      <li>NodeJS</li>
      <li>ReactJS</li>
      <li>React Native</li>
    </ul>

    <h2>Fique ligado em nossas redes sociais para não perder nenhuma novidade:</h2>
    <div id="links-social" class="links">
      <a href="https://github.com/Rocketseat" target="_blank">Github</a>
      <a href="https://www.youtube.com/channel/UCSfwM5u0Kce6Cce8_S72olg" target="_blank">Youtube</a>
      <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank">Instagram</a>
    </div>

  </div>
{% endblock %}