{% extends 'layout.njk' %}

{% block head %}
  <title>Blog Rocketseat | Conteúdos</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}

{% block content %}
  
  <div id="wrapper">
    <h1>Conteúdos</h1>
  </div>

  <section class="cards">

    <div class="card" id="como-renomear-varios-arquivos-de-uma-vez-usando-o-terminal">
      <div class="card__image-container">
        <img src="https://blog.rocketseat.com.br/content/images/2020/11/thumb-como-renomear-varios-arquivos-de-uma-vez-usando-o-terminal.jpg" alt="Programador usando notebook">
      </div>
      <div class="card__content">
        <p>Como renomear vários arquivos de uma vez usando o terminal</p>
      </div>
      <div class="card__info">
        <p>2 minutos de leitura</p>
        <p class="card__autor">
          Autor: Thiago Marinho
        </p>
      </div>
    </div>

    <div class="card" id="obtendo-o-status-de-progresso-do-envio-de-dados-com-axios">
      <div class="card__image-container">
        <img src="https://blog.rocketseat.com.br/content/images/2020/10/obtendo-o-status-de-progresso-do-envio-de-dados-com-axios.png" alt="Tela de carregamento em 99%">
      </div>
      <div class="card__content">
        <p>Obtendo o status de progresso do envio de dados com Axios</p>
      </div>
      <div class="card__info">
        <p>4 minutos de leitura</p>
        <p class="card__autor">
          Autor: Thiago Marinho
        </p>
      </div>
    </div>

    <div class="card" id="axios-um-cliente-http-full-stack">
      <div class="card__image-container">
        <img src="https://blog.rocketseat.com.br/content/images/2020/09/axios-um-cliente-http-full-stack-rocketseat.png" alt="Programador em frente a tela de computador demonstrando o envio de dados com Axios">
      </div>
      <div class="card__content">
        <p>AXIOS - um cliente HTTP Full Stack</p>
      </div>
      <div class="card__info">
        <p>3 minutos de leitura</p>
        <p class="card__autor">
          Autor: Thiago Marinho
        </p>
      </div>
    </div>

  </section>

  <div class="modal-overlay">
    <div class="modal">
      <a class="open-in-full-modal">
        <i class="material-icons">open_in_full</i>
      </a>

      <a class="close-modal">
        <i class="material-icons">close</i>
      </a>

      <div class="modal-content">
        <iframe src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>

  <script src="script.js"></script>

{% endblock %}