{% extends 'layout.njk' %}

{% block head %}
  <title>Blog Rocketseat | Página não encontrada</title>
{% endblock %}

{% block content %}

  <div id="wrapper">
    <h1>Oh-oh... Parece que essa página não existe...</h1>
    <p>Parece que o conteúdo que você esta procurando não existe. Mas não se preocupe! Clique aqui para <a href="/content">ir para nossa página de conteúdo</a>.</p>
  </div>
  
{% endblock %}